<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= form.select :category_id, @categories.collect { |c| [c.name, c.id]}, {include_blank: 'Please select a category: ' } %>
  </div>

  <div class="form-group">
    <%= form.text_field :name, id: :contact_name, placeholder: "Name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, id: :contact_email, placeholder: "Email" %>
  </div>

  <div class="form-group">
    <%= form.text_field :address, id: :contact_address, placeholder: "Address" %>
  </div>

  <div class="form-group">
    <%= form.text_field :city, id: :contact_city, placeholder: "City" %>
  </div>

  <div class="form-group">
    <%= form.text_field :state, id: :contact_state, placeholder: "State" %>
  </div>

  <div class="form-group">
    <%= form.text_field :zip, id: :contact_zip, placeholder: "Zip" %>
  </div>

  <div class="form-group">
    <%= form.text_field :phone, id: :contact_phone, placeholder: "Phone" %>
  </div>



  <div class="form-group">
    <%= form.text_area :remarks, id: :contact_remarks, placeholder: "Comments" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
