<p id="notice"><%= notice %></p>

<h1>Contacts</h1>
<%= paginate @contacts %>
<table class='table '>
  <thead>
    <tr>
      <th><%= sort_link "Name" %></th>
      <th><%= sort_link "Category" %></th>
      <th><%= sort_link "Email" %></th>
      <th><%= sort_link "Phone" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td><%= contact.category.name %></td>
        <td><%= mail_to contact.email %></td>
        <td><%= tel_to contact.phone %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact), class: "btn btn-xs btn-info" %>&nbsp;&nbsp;&nbsp;
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="footer-nav">
<%= link_to 'Add New Contact', new_contact_path, class: 'btn btn-sm btn-default new' %>
</div>