<p id="notice"><%= notice %></p>
<div class="index">
<h1>Contacts</h1>

<table class='table'>
  <thead>
    <tr>
      <th><%= sort_link "Name" %></th>
      <th>Category</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact %></td>
        <td><%= contact.category.name %></td>
        <td><%= mail_to contact.email %></td>
        <td><%= tel_to contact.phone %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
<!-- <div class="pagination">
    <%# paginate @contacts %>
</div> -->


</div>


<br>
<div class="footer-nav">
<%# link_to 'Add New Contact', new_contact_path, class: 'btn btn-sm btn-default new' %>
</div>