<!DOCTYPE html>
<html>
  <head>
    <title>Dyfinal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Eczar|Lora:700|Roboto+Slab" rel="stylesheet">   </head>

  <body>
    <div class="container jumbo">
      <div class="jumbotron">
        <h1><span>Drop Yard</span></h1>
        </div>
      </div>
    </div>
    <div class="header-search">
      <div class="header">
        <%= form_tag(root_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], class: "searchbox" %>
          <%= submit_tag 'Search', name: nil, class: "btn btn-sm" %>
        <% end %>
      </div>
      <div id="wrapper" class="">
                <div  class="open">
                  <span class="cls"></span>
                  <span>
                    <ul class="sub-menu ">
                      <li>
                        <%= link_to "Home", contacts_path, class: "home" %>
                      </li>
                      <li>
                        <%= link_to 'New Contact', new_contact_path, class: 'new' %>
                      </li>
                      <li>
                        <a href="#jobs" title="tellus">Tell Us...</a>
                      </li>
                      <li>
                        <%= link_to "Help", help_path, class: "help" %>
                      </li>
                    </ul>
                  </span>
                  <span class="cls"></span>

              </div>
              <div class="content-container">
                  <%= yield %>
              </div>
      </div>


<footer class="footer">
  <div class="grid">
    <div class="left">
      <div class="social">
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Github</li>
        </ul>
      </div>
    </div>

    <div class="center"></div>

    <div class="right">
      <div class="legal">
        <ul>
          <li><p>&copy; 2018. All Rights Reserved</p></li>
          <li><p></p></li>
          <li>Created by:&nbsp;  <a href="mailto://odloads@live.com">Jesse Hatton</a></li>
        </ul>
      </div>
    </div>
</div>
</footer>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= Figaro.env.google_api_key %>">
  </script>
  </body>
</html>
