<!DOCTYPE html>
<html>
  <head>
    <title>Dyfinal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <div class="container jumbo">
      <div class="jumbotron">
        <h1>Drop Yard</h1>
      </div>
  </div>
      <div id="wrapper" class="">
          <div class="overlay" style="display: none;"></div>
          <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                <a href="#"> Drop Yard</a>
                </li>
                <li>
                  <%= link_to "    View Contacts", contacts_path, class: "glyphicon glyphicon-edit menu_link" %>
                </li>
                <li>
                  <a href="#"><i class="glyphicon glyphicon-search menu_link"></i>  View Categories</a>
                </li>
                <li>
                  <a href="#"><i class="glyphicon glyphicon-pencil menu_link"></i>  Sign Up</a>
                </li>
                <li>
                  <a href="#"><i class="glyphicon glyphicon-thumbs-up menu_link"></i>  About</a>
                </li>
                <li>
                  <a href="#"><i class="glyphicon glyphicon-bullhorn menu_link"></i>  Tell Us Something...</a>
                </li>
                <li>
                    <%= link_to "    Help", help_path, class: "glyphicon glyphicon-wrench menu_link" %>
                  </li>
            </ul>
          </nav>
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
            </button>
              <div class="header">

                  <div class="header-search">
                    <%= form_tag(root_path, method: :get) do %>
                      <%= text_field_tag :term, params[:term], class: "searchbox" %>
                      <%= submit_tag 'Search', name: nil, class: "btn btn-sm" %>
                    <% end %>
                  </div>
              </div>
              
              <div class="content-container">
                  <%= yield %>
              </div>
      </div>





  </body>
</html>
